@tailwind base;
@tailwind components;
@tailwind utilities;

:root:has(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open]) {
  overflow: hidden;
  scrollbar-gutter: auto; /* Change from stable to auto */
}
  html {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b2,oklch(var(--b2)/var(--tw-bg-opacity))) !important;
  }
